recursive-include orbs/ *.pyx


#documentation
recursive-include docs/_build/html *

#Misc
include LICENSE.txt
include README.rst
include requirements.txt

recursive-exclude orbs/ *.c
recursive-exclude orbs/ *.so
